.navbar {
    display: flex;
    position: absolute;
    text-align: center;
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}  

.espaciado{
    padding-left: 170px;
}

.espaciado2{
    padding-left: 70px;
}

#navbar{
    background: linear-gradient(to right, #0935f7, #8f06ff); /* Cambia estos colores según tus preferencias */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#input{
 justify-content: center;  
 padding-left: 100px; 
 width: 40%;
}